.color
{
background-color: rgb(255, 153, 153);
}

p {
  color: black;
}

a:link
{
    color: red;
}

a:visited
{
    color: green;
}

a:hover
{
    color: hotpink;
}

a:active
{
    color: blue;
}

p.arial{
   font-family: Arial, Helvetica, sans-serif
 }

table.font{
  font-family: Arial, Helvetica, sans-serif
}

.text
{
  text-align: center;
}

.information
{
    text-align: center;
    font-size: 25px;
    max-width: 1600px;
    margin-left: 190px;
    padding: 1em;
  }

  .life
  {
      float: left;
      max-width: 160px;
      margin: 0;
      padding: 40px;
      font-size: x-large;
  }

h1 {
    font-size: 40px;
    text-align: center;
  }

h2 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: teal;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide > img
{
    width: 55%;
    height: 95%;
}
