.color
{
background-color: rgb(255, 153, 153);
}

p {
  color: black;
}

a:link
{
    color: red;
}

a:visited
{
    color: green;
}

a:hover
{
    color: hotpink;
}

a:active
{
    color: blue;
}

p.arial{
   font-family: Arial, Helvetica, sans-serif
 }

table.font{
  font-family: Arial, Helvetica, sans-serif
}
