.color
{
background-color: rgb(255, 153, 153);
}

p {
  color: black;
}

a:link
{
    color: red;
}

a:visited
{
    color: green;
}

a:hover
{
    color: hotpink;
}

a:active
{
    color: blue;
}

p.arial{
   font-family: Arial, Helvetica, sans-serif
 }

table.font{
  font-family: Arial, Helvetica, sans-serif
}

.text
{
  text-align: center;
}

.nav li {
    list-style-type: none;
    width: 200px;
}

.nav li a {
    display: block;
    padding: 8px 16px 8px;

}

.content {
    color: white;
    text-align: center;
    font-size: 25px;
    max-width: 1600px;
    margin-left: 190px;
    padding: 1em;
  }

  .nav {
      float: left;
      max-width: 160px;
      margin: 0;
      padding: 1em;
  }

  .Header{
    font-size: 40px;
  }
