.color
{
background-color: rgb(255, 153, 153);
}

p {
  color: black;
}

a:link
{
    color: red;
}

a:visited
{
    color: green;
}

a:hover
{
    color: hotpink;
}

a:active
{
    color: blue;
}

p.arial{
   font-family: Arial, Helvetica, sans-serif
 }

table.font{
  font-family: Arial, Helvetica, sans-serif
}

.text
{
  text-align: center;
}

.information
{
    text-align: center;
    font-size: 25px;
    max-width: 1600px;
    margin-left: 190px;
    padding: 1em;
  }

  .life
  {
      float: left;
      max-width: 160px;
      margin: 0;
      padding: 1em;
      font-size: x-large;
  }

h1 {
    font-size: 40px;
    text-align: center;
  }

h2 {
    text-align: center;
}
